sagemaker-pipeline/cfn_v2/data-preprocessing-sam/statemachine/stock_trader.asl.json
{
    "StartAt": "StartGlueJobTask",
    "States": {
      "StartGlueJobTask": {
        "Next": "Job successful?",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "ResultPath": "$.error-info",
            "Next": "SendFailure"
          }
        ],
        "Type": "Task",
        "ResultPath": "$.taskresult",
        "Resource": "arn:aws:states:::glue:startJobRun.sync",
        "Parameters": {
          "JobName": "sagemaker-pipeline-GlueJob",
          "Arguments": {
            "--job-bookmark-option": "job-bookmark-enable",
            "--additional-python-modules": "pyarrow==2,awswrangler==2.9.0,fsspec==0.7.4",
            "--TRAIN_URI.$": "$.body.trainUri",
            "--VALIDATION_URI.$": "$.body.valUri",
            "--TEST_URI.$": "$.body.testUri",
            "--INPUT_DIR.$": "$.body.inputDir"
          }
        }
      },
      "Job successful?": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.taskresult.JobRunState",
            "StringEquals": "SUCCEEDED",
            "Next": "SendSuccess"
          }
        ],
        "Default": "SendFailure"
      },
      "SendFailure": {
        "End": true,
        "Type": "Task",
        "Resource": "arn:aws:states:::aws-sdk:sagemaker:sendPipelineExecutionStepFailure",
        "Parameters": {
          "CallbackToken.$": "$.body.token",
          "FailureReason": "Unknown reason"
        }
      },
      "SendSuccess": {
        "End": true,
        "Type": "Task",
        "Resource": "arn:aws:states:::aws-sdk:sagemaker:sendPipelineExecutionStepSuccess",
        "Parameters": {
          "CallbackToken.$": "$.body.token",
          "OutputParameters": [
            {
              "Name": "trainUri",
              "Value.$": "$.body.trainUri"
            },
            {
              "Name": "valUri",
              "Value.$": "$.body.valUri"
            },
            {
              "Name": "testUri",
              "Value.$": "$.body.testUri"
            }
          ]
        }
      }
    }
  }